@import "tailwindcss";
@import "@nuxt/ui";
@import "nuxt-notify/styles";

* {
  --ui-bg: #020203;
  --ui-bg-elevated: #020203;
  --ui-primary: oklch(78.9% 0.154 211.53);
  --vis-donut-background-color: transparent;
  /* opacity: 1; */
}

body {
    min-height: 100vh;
};

textarea {
  field-sizing: content;
};

.background {
  background-color: #020203;
}
